

.Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista{
    padding: 0;
    margin: 0;
}
.Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista .Contacto__Menu_Lista__Item{
    text-align: justify;
}
.Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista .Contacto__Menu_Lista__Item:hover{
    color: #2A7AE4;
}

@media (min-width:0px) {

    .Contacto .Contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50rem 0 100rem 0;
    }

    .Contacto .Contenedor .Formulario {
        width: 100%;
    }

    #mensaje{
        height: 125rem;
    }

    .Contacto .Contenedor .Contacto__Menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .Contacto .Contenedor .Contacto__Menu .Nombre {
        font-size: 32rem;
        margin-bottom: 15rem;
        width: 100%;
        text-align: center;
    }

    .Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista {
        width: 100%;
    }

    .Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista .Contacto__Menu_Lista__Item{
        margin-bottom: 15rem;
        font-size: 17rem;
        text-align: center;
    }
}

@media screen and (min-width:800px) {

    .Contacto .Contenedor {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 50rem 0 100rem 0;
        align-items: start;
    }

    .Contacto .Contenedor .Formulario {
        width: 65%;
    }
    .Contacto .Contenedor .Contacto__Menu {
        width: 35%;
        display: block;
        display: flex;
        flex-direction: column;
    }
    .Contacto .Contenedor .Contacto__Menu .Nombre {
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 100%;
        text-align: justify;
    }
    .Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista {
        width: 100%;
    }

    .Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista .Contacto__Menu_Lista__Item{
        margin-top: 45rem;
        margin-bottom: 0rem;
        font-size: 17rem;
        text-align: justify;
    }
    .Contacto .Contenedor .Formulario h2 {
        padding:0;
        margin-top: 0;
    }
}

@media screen and (min-width:1024px) {
    
    .Contacto .Contenedor {
        margin: 50rem 0 100rem 0;
    }

    .Contacto .Contenedor .Formulario {
        width: 50%;
    }
    .Contacto .Contenedor .Contacto__Menu {
        width: 50%;
        display: block;
        display: flex;
        flex-direction: row;
    }
    .Contacto .Contenedor .Contacto__Menu .Nombre {
        width: 50%;
        margin-top: 15rem;
    }
    .Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista {
        width: 50%;
    }

    .Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista{
        font-size: 17rem;
    }
    
    .Contacto .Contenedor .Contacto__Menu .Contacto__Menu__Lista .Contacto__Menu_Lista__Item{
        margin-top: 15rem;
        margin-bottom: 35rem;
        font-size: 20rem;
    }
}