html {
    scroll-behavior: smooth;
    user-select: none;
    font-size: 1px;
}

* {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    color: #464646;
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-align: center;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}
a:visited {
    color: #464646 ;
}

.Azul {
    color: #2A7AE4 !important;
}
.Rojo {
    color:  rgb(170, 0, 0) !important;
}
.Gray {
    color: #464646 !important;
}

.principal {
    margin: 0;
    padding: 0;
}

.Header,
.Login,
.Stock,
.Banner,
.Categorias,
.Productos,
.Info,
.Contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 25rem;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0rem;
}

@media (min-width:0px) {



    .Contenedor {
        width: 95%;
        min-width: 328rem;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-block-end: 5rem;
        padding-bottom: 10rem;
        line-height: 40rem;
        width: 100%;
    }

    p {
        margin-block-start: 4rem;
        margin-block-end: 4rem;
        padding-bottom: 10rem;
        line-height: 25rem;
        font-size: 15rem;
    }

    h1 {
        font-size: 22rem;
    }
    h2 {
        font-size: 20rem;
    }
    h3 {
        font-size: 18rem;
    }
    h4 {
        font-size: 16rem;
    }
}

@media screen and (min-width:800px) {


    .Contenedor {
        width: 95%;
        min-width: 704rem;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-block-end: 5rem;
        padding-bottom: 10rem;
        line-height: 45rem;
        width: 100%;
    }

    p {
        margin-block-start: 4rem;
        margin-block-end: 4rem;
        padding-bottom: 10rem;
        line-height: 27rem;
        font-size: 17rem;
    }

    h1 {
        font-size: 28rem;
    }
    h2 {
        font-size: 25rem;
    }
    h3 {
        font-size: 22rem;
    }
    h4 {
        font-size: 19rem;
    }
}

@media screen and (min-width:1024px) {


    .Contenedor {
        width: 70%;
        width: 1133rem;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-block-end: 5rem;
        padding-bottom: 10rem;
        line-height: 60rem;
        width: 100%;
    }

    p {
        margin-block-start: 4rem;
        margin-block-end: 4rem;
        padding-bottom: 10rem;
        line-height: 30rem;
        font-size: 16rem;
    }

    h1 {
        font-size: 32rem;
    }
    h2 {
        font-size: 28rem;
    }
    h3 {
        font-size: 24rem;
    }
    h3 {
        font-size: 20rem;
    }
}

.Contacto {
    background-color: #eaf2fd;
}


.botonAzul {
    background-color: #2A7AE4;
    border-radius: 5rem;
    border: 1rem solid #246ad4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 7rem 15rem;
    text-decoration: none;
    min-width: 100rem;
    font-weight: 550;
    font-size: 16rem;
}

.botonAzul:visited {
    color: #ffffff;
}

.botonAzul:hover {
    background-color: #ffffff;
    color: #2A7AE4;
}

.botonAzul:active {
    position: relative;
    top: 1rem;
}

.botonBlanco {
    background-color: #ffffff;
    border-radius: 5rem;
    border: 1rem solid #2A7AE4;
    display: inline-block;
    cursor: pointer;
    color: #2A7AE4;
    padding: 7rem 15rem;
    text-decoration: none;
    min-width: 100rem;
    font-weight: 550;
    font-size: 16rem;
}

.botonBlanco:visited {
    color: #2A7AE4;
}

.botonBlanco:hover {
    background-color: #2A7AE4;
    color: #ffffff;
}

.botonBlanco:active {
    position: relative;
    top: 1rem;
}


.pie p {
    text-align: center;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    padding: 10rem 0 10rem 0;
    line-height: 18rem;
}
.titulo {
    font-weight: bold;
}
.subtitulo {
    font-weight:500;
}
@media (min-width:0px) {

    .titulo {
        font-size: 16rem;
    }

    .subtitulo {
        font-size: 14rem;
    }

    .botonAzul,
    .botonBlanco {
        font-size: 14rem;
    }
}

@media (max-width:500px) {

    .botonAzul,
    .botonBlanco {
        margin: 0 !important;
    }

    .Contenedor {
        min-width: 360rem;
    }

}

@media screen and (min-width:800px) {
    .botonAzul,
    .botonBlanco {
        font-size: 16rem;
    }
}

@media screen and (min-width:1024px) {
    .titulo {
        font-size: 17rem;
    }

    .subtitulo {
        font-size: 15rem;
    }
}