
#descripcion{
    height: 125rem;
}


.Stock {
    background-color: #f5f5f5;
}
.Stock .Contenedor{
    background-color: #f5f5f5;
    padding: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Stock .Contenedor .Formulario{
    margin-bottom: 50rem;
}

.Stock .Contenedor .Formulario .Formulario__Input{
    margin-bottom: 15rem;
}
.Stock .Contenedor .Formulario .Formulario__Input input{
    height: 40rem;
}

.Stock .Contenedor .Formulario .Formulario__Button{
    width: 50%;
}


.Upload__Image {
    padding:20px 0;
    background:#fff;
  }
  .Upload__Image input {
    display:none;
  
  }
  .Upload__Image label {
    display:block;
    width:45%;
    height:45px;
    margin-left: 25% !important;
    line-height:50px;
    text-align:center;
    cursor:pointer;
  }
  
  .Upload__Image img {
    width:60%;
    margin: 0 20%;
    border-radius: 5rem;
    display:none;  
    margin-bottom:30px;
  }
  #Descripcion{
    text-overflow:initial;
    white-space:break-spaces;
  }

@media screen and (min-width:0px) {    
    
    .Stock .Contenedor .Formulario{
        margin-bottom: 50rem;
        width: 95%;
    }
    
    .Stock {
        margin: 0;
        padding: 0;
    }
    .Stock .Contenedor{
        margin: 0;
        padding: 0;
    }
}
@media screen and (min-width:800px) {    
    
    .Stock .Contenedor .Formulario{
        width: 90%;
    }

}

@media screen and (min-width:1024px) {   

    .Stock .Contenedor{
        margin-top: 50rem;
    }
    .Stock .Contenedor .Formulario{
        width: 70%;
    } 
}